# Gaming Dataset Analysis

In [1]:
#Import dependencies
import csv
import os
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

In [2]:
#Read in file
file_df = pd.read_csv('../GamingStudy_Data.csv', encoding = "ISO-8859-1")

file_df.head()

,S. No.,Timestamp,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GADE,...,Birthplace,Residence,Reference,Playstyle,accept,GAD_T,SWL_T,SPIN_T,Residence_ISO3,Birthplace_ISO3
0,1,42052.00437,0,0,0,0,1,0,0,Not difficult at all,...,USA,USA,Reddit,Singleplayer,Accept,1,23,5.0,USA,USA
1,2,42052.00680,1,2,2,2,0,1,0,Somewhat difficult,...,USA,USA,Reddit,Multiplayer - online - with strangers,Accept,8,16,33.0,USA,USA
2,3,42052.03860,0,2,2,0,0,3,1,Not difficult at all,...,Germany,Germany,Reddit,Singleplayer,Accept,8,17,31.0,DEU,DEU
3,4,42052.06804,0,0,0,0,0,0,0,Not difficult at all,...,USA,USA,Reddit,Multiplayer - online - with online acquaintanc...,Accept,0,17,11.0,USA,USA
4,5,42052.08948,2,1,2,2,2,3,2,Very difficult,...,USA,South Korea,Reddit,Multiplayer - online - with strangers,Accept,14,14,13.0,KOR,USA

In [3]:
file_df.columns.tolist()

['S. No.',
 'Timestamp',
 'GAD1',
 'GAD2',
 'GAD3',
 'GAD4',
 'GAD5',
 'GAD6',
 'GAD7',
 'GADE',
 'SWL1',
 'SWL2',
 'SWL3',
 'SWL4',
 'SWL5',
 'Game',
 'Platform',
 'Hours',
 'earnings',
 'whyplay',
 'League',
 'highestleague',
 'streams',
 'SPIN1',
 'SPIN2',
 'SPIN3',
 'SPIN4',
 'SPIN5',
 'SPIN6',
 'SPIN7',
 'SPIN8',
 'SPIN9',
 'SPIN10',
 'SPIN11',
 'SPIN12',
 'SPIN13',
 'SPIN14',
 'SPIN15',
 'SPIN16',
 'SPIN17',
 'Narcissism',
 'Gender',
 'Age',
 'Work',
 'Degree',
 'Birthplace',
 'Residence',
 'Reference',
 'Playstyle',
 'accept',
 'GAD_T',
 'SWL_T',
 'SPIN_T',
 'Residence_ISO3',
 'Birthplace_ISO3']

In [5]:
#Remove GAD, SWL, SPIN columns and only keep totals

reduced_df = file_df.drop(columns = ['GAD1',
 'GAD2',
 'GAD3',
 'GAD4',
 'GAD5',
 'GAD6',
 'GAD7',
 'GADE',
 'SWL1',
 'SWL2',
 'SWL3',
 'SWL4',
 'SWL5','SPIN1',
 'SPIN2',
 'SPIN3',
 'SPIN4',
 'SPIN5',
 'SPIN6',
 'SPIN7',
 'SPIN8',
 'SPIN9',
 'SPIN10',
 'SPIN11',
 'SPIN12',
 'SPIN13',
 'SPIN14',
 'SPIN15',
 'SPIN16',
 'SPIN17','highestleague'])

reduced_df.head()
print(len(reduced_df))

13464

In [ ]:
#DIDNT WORK BECAUSE STRING
# for column in reduced_df:
#     no_na = reduced_df.loc[reduced_df[column].str.contains("n/a", case=False)]

# no_na

In [ ]:
# reduced_df.replace(['na', 'n/a', "N/A", " n/a"], 
#                      [np.nan, np.nan, np.nan, np.nan], inplace = True)

# reduced_df.head()

#To search using True/False whether the search term appears in the whole dataset
reduced_df.apply(lambda row: row.astype(str).str.contains('N/A', case = False).any(), axis=1).value_counts()

In [ ]:
#DIDNT WORK BECAUSE STRING
# reduced_df.loc[:, [reduced_df.str.contains("N/A", case = False)]]